body{
    background-image: url(https://tse3.mm.bing.net/th/id/OIP.uT_0f4aPjmbZoAldHm_lCwHaHa?rs=1&pid=ImgDetMain&o=7&rm=3);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(54, 199, 155);
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 75px;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-direction:row;
    flex-wrap: wrap;
    background-color: crimson;
}

.container div{
    background-color: yellow;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    border-radius: 25px;
}

div.pamonha{
    background-color: aliceblue;
}

div.pamonha2{
    background-color: aqua;
}

div.pamonha3{
    background-color:cornflowerblue;
}

div.pamonha4{
    background-color: darkolivegreen;
}

div.pamonha5{
    background-color: slateblue;
}

div.pamonha6{
    background-color: palevioletred;
}

div.pamonha7{
    background-color: mediumseagreen;
}

h1{
	text-align: center;
	color: white;
	margin: 15px;
	padding: 15px;
	box-shadow: 2px 2px 10px rgb(0, 0, 0);

	background-color:darkgoldenrod;
}

/* Grid */
.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 50px;
}

/* 1 */

.grid-area-1 .item-1 {
	grid-area: 1 / 2 / 4 / 3;
	grid-row-start: 1;
	grid-column-start: 2;
	grid-row-end: 4;
	grid-column-end: 3;
}

.grid-area-1 .item-5 {
	grid-area: span 2 / 3;
	grid-row-start: span 2;
	grid-column-start: 3;
}

/* 2 */

.grid-area-2 {
	grid-template-areas:
		"header header header"	
		"sidenav content ads"	
		"sidenav footer footer"	
	;
}

.grid-area-2 .item-1 {
	grid-area: header;
}

.grid-area-2 .item-2 {
	grid-area: sidenav;
}

.grid-area-2 .item-3 {
	grid-area: content;
}

.grid-area-2 .item-4 {
	grid-area: ads;
}

.grid-area-2 .item-5 {
	grid-area: footer;
}

/* 3 */

.grid-area-3 {
	grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
}

.grid-area-3 .item-1 {
	grid-row: 2 / 4;
	grid-column: 2 / 5;
	background: rgb(255,0,0);
	mix-blend-mode: screen;
}

.grid-area-3 .item-2 {
	grid-area: 3 / 3 / span 3 / 5;
	background: rgb(0,255,0);
	mix-blend-mode: screen;
}

.grid-area-3 .item-12 {
	grid-row-start: 1;
	grid-column-start: 4;
	grid-row-end: 7;
	grid-column-end: 6;
	background: rgb(0,0,255);
	mix-blend-mode: screen;
}

/* Grid Item */
.item {
	margin: 5px;
	background: tomato;
	text-align: center;
	font-size: 1.5em;
}

.grid {
	max-width: 400px;
	margin: 0 auto;
	border: 1px solid #ccc;
}

h1 {
	text-align: center;
	font-size: 1.25em;
	font-weight: normal;
}

body {
	font-family: monospace;
	color: #333;
	padding-bottom: 60px;
	margin: 0px;
}

body > div {
	padding: 40px 0;
}

body > div:nth-of-type(even) {
	background: rgba(0,0,0,.03);
}

body > div > img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

img {
	display: block;
	margin: 0 auto;
}